:root {
    --bg-color:#ffffff;
    --logo-color: #4D5AE5;
    --footer-bg-color: #2E2F42;
    --activ-title-color: #404BBF;
    --normal-title-color: #2E2F42;
    --activ-address-color: #404BBF;
    --normal-address-color: #434455;
    --first-btn-bg-color: #F4F4FD;
    --second-btn-bg-color: #404BBF;
    --first-btn-color: #4D5AE5;
    --second-btn-color: #ffffff;
    --basic-color: #434455;
    --card-set-gap: 24px;
    --text-footer-sub: #8e8f99;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-color);
    color: var(--basic-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 767px) {
    .container {
        max-width: 428px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.no-scroll {
    overflow: hidden;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

/**--------------LOGO------------------ */

.header-logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-color);
    margin-right: 76px;
}

.header-logo-first {
    color: var(--logo-color);
}

.header-logo-last {
    color: var(--normal-title-color);
}

.header-container-nav {
    display: flex;
    align-items: center;
}

.feature-icon {
    display: none;
}

/**--------------Mob MENU------------------ */

@media screen and (max-width: 767px) {
    .header-list {
        display: none;
    }

    .header-address {
        display: none;
    }

    /**--------------Mob HEADER------------------ */

    .header-container-nav {
        justify-content: space-between;
        padding: 24px 16px;
    }

    .menu-btn {
        display: inline-flex;
        margin: 0;
        padding: 0;
        border: none;
        background-color: transparent;

        margin-left: auto;
    }

    .menu-btn.icon-menu:hover,
    .menu-btn.icon-menu:active,
    .menu-btn.icon-menu:focus {
        stroke: #404bbf;
    }

    .menu-btn .icon-menu {
        width: 32px;
        height: 22px;
        flex-shrink: 0;
        stroke: #2E2F42
    }

    .icon-menu {
        fill: var(--normal-title-color);
    }

    .mob-menu {
        position: fixed;
        top: 0;
        z-index: 100;
        width: 100vw;
        height: 100vh;
        background-color: var(--bg-color);
        padding: 24px 24px 40px 40px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        overflow-y: scroll;

        transition: opacity 250ms var(--timing-function),
            visibility 250ms var(--timing-function);
    }

    .mob-menu.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .mob-menu-btn {
        display: block;
        border-radius: 24px;
        border: 1px solid #2E2F42;
        opacity: 0.10000000149011612;
        background: #E7E9FC;
        margin-left: auto;
        margin-bottom: 32px;
    }

    .mob-menu-list {
        color: var(--normal-title-color);
        margin-bottom: 40px;
    }

    .mob-menu-list>.item:not(:last-child) {
        margin-bottom: 40px;
    }

    .mob-menu-list-item {
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.72px;
        text-transform: capitalize;
        font-size: 36px;
        line-height: 1.11;
        color: var(--normal-title-color);

        transition-property: background-color, color, box-shadow;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transition-delay: 0;

    }

    .mob-menu-list-item:hover,
    .mob-menu-list-item:focus {
        color: #404BBF;
    }

    .link.mob-menu-list-item.current {
        color: #404BBF;
    }

    .mob-menu-tel {
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;

        color: var(--activ-address-color);
        /* margin-bottom: 40px; */

        transition-property: background-color, color, box-shadow;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transition-delay: 0;
    }

    .mob-menu-email {
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.4px;

        font-style: normal;
        line-height: 1.2;

        color: var(--normal-address-color);

        transition-property: background-color, color, box-shadow;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transition-delay: 0;
    }

    .mob-menu-tel:hover,
    .mob-menu-tel:focus .mob-menu-email:hover,
    .mob-menu-email:focus {
        color: #404BBF;
    }

    .mob-menu-address-list {
        color: var(--normal-title-color);
        margin-bottom: 48px;
    }

    .mob-menu-address-list>.item:not(:last-child) {
        margin-bottom: 40px;
    }

    .mob-soc-list {
        display: flex;
        justify-content: flex-start;
        gap: 56px;
        /* gap: 24px; */
    }

    .mob-soc-item {
        width: 40px;
        height: 40px;
    }

    .mob-soc-link {
        width: 100%;
        height: 100%;
        background-color: #4D5AE5;
        border-radius: 50%;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        display: flex;
        align-items: center;
        justify-content: center;

        transition-property: background-color, color, box-shadow;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transition-delay: 0;
    }

    .mob-soc-link:hover,
    .mob-soc-link:focus {
        background-color: #404bbf;
    }

    .mob-soc-icon {
        fill: var(--first-btn-bg-color);
    }

    @media screen and (max-width: 427px) {
        .mob-menu-tel {
            font-size: 20px;
        }

        .mob-soc-list {
            gap: calc((100% - 160px) / 4);
        }
    }
}

/**-------------- HEADER------------------ */

@media screen and (min-width: 768px) {
    .mob-menu {
        display: none;
    }

    .menu-btn {
        display: none;
    }

    .header {
        background-color: var(--bg-color);
        border-bottom: 1px solid #e7e9fc;
        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 1px 6px rgba(46, 47, 66, 0.08);
    }

    .header-container {
        display: flex;
        align-items: center;
    }

    .header-list {
        color: var(--normal-title-color);
        display: flex;
        gap: 40px;
    }

    .header-list-item {
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.72px;
        text-transform: capitalize;
        font-size: 16px;
        line-height: 1.5;
        color: var(--normal-title-color);
        display: block;
        padding: 24px 0;
        position: relative;

        transition-property: background-color, color, box-shadow;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transition-delay: 0;

    }

    .header-list-item:hover,
    .header-list-item:focus {
        color: #404BBF;
    }

    .link.header-list-item.current {
        color: #404BBF;
    }

    .header-list-item.current:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        left: 0px;
        bottom: -1px;
        background: #404BBF;
        border-radius: 2px;
    }

    .header-address {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--normal-address-color);
        margin-left: auto;

        transition-property: background-color, color, box-shadow;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transition-delay: 0;
    }

    .header-address:hover,
    .header-address:focus {
        color: #404BBF;
    }

    .header-address-list {
        color: var(--normal-title-color);
        gap: 40px;
    }
}

@media screen and (min-width: 1158px) {
    .header-address-list {
        display: flex;
        align-items: center;
        padding: 24px 0;
    }
}
/**-------------- HERO------------------ */

.hero {
    background: #2E2F42;
    padding: 112px 0px;
    text-align: center;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url('../images/hero/hero-mob.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url('../images/hero/hero-mob@2x.jpg');
    }
}

@media screen and (min-device-pixel-ratio: 1) and (min-width: 768px),
screen and (min-resolution: 96dpi) and (min-width: 768px),
screen and (min-resolution: 1dppx) and (min-width: 768px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url('../images/hero/hero-tab.jpg');
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url('../images/hero/hero-tab@2x.jpg');
    }
}

@media screen and (min-device-pixel-ratio: 1) and (min-width: 1158px),
screen and (min-resolution: 96dpi) and (min-width: 1158px),
screen and (min-resolution: 1dppx) and (min-width: 1158px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url('../images/hero/hero-desk.jpg');
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1158px),
screen and (min-resolution: 192dpi) and (min-width: 1158px),
screen and (min-resolution: 2dppx) and (min-width: 1158px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url('../images/hero/hero-desk@2x.jpg');
    }
}

.hero-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.72px;
    color: #FFFFFF;
    text-align: center;
    margin: auto;
    margin-bottom: 54px;
    text-transform: capitalize;

}

.hero-bottom-text {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    background: #4D5AE5;
    color: #FFFFFF;
    letter-spacing: 0.04em;
    cursor: pointer;

    padding: 16px 32px;
    border-radius: 4px;
    margin: auto;
    min-width: 169px;
    height: 56px;
    border: none;

    transition-property: background-color, color, box-shadow;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
}

.hero-bottom-text:hover,
.hero-bottom-text:focus {
    background-color: #404BBF;
    color: #FFFFFF;
}

/**-------------- Feature--------------- */

.feature {
    padding: 96px 0px;
}

@media screen and (max-width: 767px) {
    .feature-list {
        color: #2E2F42;
    }

    .feature-list>.item {
        width: 100%;
    }

    .feature-list>.item:not(:last-child) {
        margin-bottom: 72px;
    }

    .feature-list-head {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: var(--normal-title-color);
        margin-bottom: 8px;
    }

    .feature-item {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--basic-color);
    }
}

@media screen and (max-width: 767px) {
    .feature-list-head {
        text-align: center;
    }

    .feature-list.item:not(:last-child) {
        margin-bottom: 72px;
    }

    .feature-item {
        max-width: 396px;
    }
}

@media screen and (max-width: 1157px) {
    .feature>.container {
        padding-right: 16px;
        padding-left: 16px;
    }

    .feature-icon {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .feature-list {
        display: flex;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 24px;
    }
    .feature-list>.item {
        flex-basis: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .feature-list {
        gap: 24px;
    }

    .feature-list>.item {
        flex-basis: calc((100% - 72px) / 4);
    }

    .feature-icon {
        width: 100%;
        background: #F4F4FD;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 24px 0;
        margin-bottom: 8px;
    }

    .feature-list-head {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }

    .feature-item {
        font-weight: 400;
    }

    .feature-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 264px;
        height: 112px;
        margin-bottom: 8px;
        background-color: var(--light-text-color);
        border-radius: 4px;
    }
}

/**-------------- IMG------------------ */

@media screen and (max-width: 1158px) {
    .doing {
        display: none;
    }
}

@media screen and (min-width: 1157px) {
    .doing {
        padding-bottom: 120px;
    }

    .img-head {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--normal-title-color);
        margin-bottom: 72px;
    }

    .img-list {
        display: flex;
        gap: 24px;
    }

    .img-list>.item {
        flex-basis: calc((100% - 48px) / 3);
    }
}
/**-------------- Team------------------ */

.team {
    background: #F4F4FD;
    padding: 96px 0;
} 

.team-list-item {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-list-name {
    /* padding: 32px 16px; */
    padding: 32px 0;
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.team-head {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--normal-title-color);
    margin-bottom: 72px;
}

.team-h {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--normal-title-color);
    margin-bottom: 8px;
}

.team-p {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--basic-color);
    margin-bottom: 8px;
}

.team-soc-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-soc-item {
    width: 40px;
    height: 40px;
}

.team-soc-link {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;

    transition-property: background-color, color, box-shadow;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
}

.team-soc-link:hover,
.team-soc-link:focus {
    background-color: #404bbf;
}

.team-soc-icon {
    fill: var(--first-btn-bg-color);
}

@media screen and (max-width: 767px) {
    .team>.container {
        max-width: 268px;
    }

    .team-list-item:not(:last-child) {
        margin-bottom: 72px;
    }
}


@media screen and (min-width: 768px) {
    .team-list {
        display: flex;
    }

    .team-list-item {
        flex-basis: calc((100% - 24px) / 2);
    }

}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .team-list {
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 64px;
    }

    .team>.container {
        max-width: 552px;
    }
}

@media screen and (min-width: 1158px) {
    .team-members-cards {
        padding: 120px 0;
    }

    .team-list {
        gap: 24px;
    }

    .team-list-item {
        flex-basis: calc((100% - 72px) / 4);

    }
}

/**-------------- Customers------------------ */

.customers {
    padding-top: 120px;
    padding-bottom: 120px;
}

.header-customers {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}

.customers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 72px;
    column-gap: 16px;
}

.customers-list>.item {
    /* flex-basis: calc((100% - 120px) / 2); */
    height: 88px;
}

.customers-link {
    width: 100%;
    height: 100%;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8E8F99;

    transition-property: background-color, color, box-shadow, border-color;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
}

.customers-link:hover,
.customers-link:focus {
    border-color: #404BBF;
    color: #404BBF;
}

.customers-icon {
    fill: currentColor;
}

@media screen and (max-width: 767px) {
    .customers-list>.item {
        flex-basis: calc((100% - 120px) / 2);

    }
}

@media screen and (min-width: 768px) {
    .customers-list>.item {
        flex-basis: calc((100% - 120px) / 3);
    }
}

@media screen and (min-width: 1158px) {

    .customers-list>.item {
        flex-basis: calc((100% - 120px) / 6);
    }

}

/**------------- Filter btn------------- */

.filter {
    padding: 96px 0px 120px 0px;
}

.filter-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.filter-btn {
    flex-direction: row;
    display: flex;
    background: var(--first-btn-bg-color);
    padding: 12px 24px;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    flex: none;
    order: 1;
    flex-grow: 0;

    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--first-btn-color);

    transition-property: background-color, color, box-shadow, border;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
}

.filter-btn:hover,
.filter-btn:focus {
    background-color: var(--second-btn-bg-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    color: var(--second-btn-color);
    border: 1px solid transparent;
}

/**------------- Project card------------- */

.card-list {
    color: var(--normal-title-color);
    display: flex;
    flex-wrap: wrap;

    column-gap: 24px;
    row-gap: 48px;
}

.card-list-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.card-list>.item {
    color: var(--normal-title-color);
    width: calc((100% - 48px) / 3);
}

.card-list-project {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-list-project:hover,
.card-list-project:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    transition-property: background-color, color, box-shadow, transform;
}

.card-list-project:hover .card-cover-text,
.card-list-project:focus .card-cover-text {
    transform: translateY(0);
}

.card-cover-wrap {
    position: relative;
    overflow: hidden;
}

.card-cover-text {
    position: absolute;
    top: 0;
    color: var(--first-btn-bg-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    background-color: #4D5AE5;
    height: 100%;
    transform: translateY(100%);
    transition-property: background-color, color, box-shadow, transform;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
}

.card-list-h {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--normal-title-color);
    margin-bottom: 8px;
}

.card-list-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--basic-color);
}

/**-------------- Footer------------------ */

.footer {
    background-color: var(--footer-bg-color);
    padding: 96px 0;
}

.footer-blok {
    padding: 0;
    margin: 0;
}

.footer-media {
    padding: 0;
    margin: 0;
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-color);

    display: inline-block;
    margin: 0 auto;
    margin-bottom: 16px;
}

.footer-logo-last {
    color: var(--first-btn-bg-color);
}

.footer-list {
    display: flex;
    gap: 16px;
}

.footer-item {
    width: 40px;
    height: 40px;
}

.footer-link {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    display: flex;
    align-items: center;
    justify-content: center;

    transition-property: background-color, color, box-shadow;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
}

.footer-link:hover,
.footer-link:focus {
    background-color: #31D0AA;
}

.footer-icon {
    fill: var(--first-btn-bg-color);
}

.footer-icon-subscribe {
    margin-left: 16px;
    fill: var(--first-btn-bg-color);
}

.footer-subscribe {
    padding: 0;
    margin: 0;
    margin-top: 72px;
}

.footer-sub-h {
    font-weight: 500;
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.footer-eml-box {
    height: 40px;
    border: 1px solid #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    margin: 0 auto;
    padding: 8px 16px;

    font-size: 12px;
    line-height: 1.5;
    display: flex;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: none;
}

.footer-eml-box::placeholder {
    font-size: 12px;
    line-height: 2.0;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding-top: 8px;
}

.footer-sub-btn {
    display: flex;
    height: 40px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #4D5AE5;
    border: none;
    border-radius: 4px;
    padding: 8px 24px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
}

.footer-sub-btn:hover,
.footer-sub-btn:focus {
    background-color: #404BBF;
    color: #FFFFFF;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 264px;
}

.footer-h {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
    
}

@media screen and (max-width: 767px) {

    .footer-blok {
        text-align: center;
    }

    .footer-list {
        justify-content: center;
    }

    .footer-media {
        width: 100%;
        margin-top: 72px;
    }

    .footer-text {
        margin: 0 auto;
        text-align: left;
    }

    .footer-h {
        text-align: center;
        margin-right: auto;
    }

    .footer-eml-box {
        width: 100%;
        margin-bottom: 16px;
    }

    .footer-sub-h {
        text-align: center;
    }

    .footer-sub-btn {
        margin: 0 auto;
    }
}

@media screen and (min-width: 768px) {
    .footer-container {
        display: flex;
        align-items: baseline;
    }

    .footer-blok {
        max-width: 264px;
    }

    .footer-form-subscribe {
        display: flex;
        gap: 24px;
        margin-right: auto;
    }

    .footer-sub-btn {
        margin-right: auto;
    }

    .footer-eml-box {
        min-width: 264px;
    }

    .footer-media {
        max-width: 264px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .footer-container {
        flex-wrap: wrap;
        padding-left: 108px;
    }

    .footer-blok {
        margin-right: 24px;
    }
}

@media screen and (min-width: 1158px) {
    .footer {
        padding: 100px 0;
    }

    .footer-blok {
        margin-right: 120px;
    }


}

/* ------------- Modal window-------------- */

.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    align-items: center;
    background-color: rgba(46, 47, 66, 0.4);;
    top: 0;

    transition-property: background-color, color, box-shadow, opacity, visibility, pointer-events;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    max-width: 392px;
    min-height: 584px;
    background: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 72px 18px 24px 18px;

    transition-property: background-color, color, box-shadow, transform, opacity, visibility;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scaleY(0);
}

.modal-close {
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    position: absolute;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    color: #000000;
    cursor: pointer;

    transition-property: background-color, color, box-shadow;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
}

.modal-close:hover,
.modal-close:focus {
    background-color: #404bbf;
    border: none;
    color: #FFFFFF;
}

.modal-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: currentColor;
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
}

.modal-field {
    margin-bottom: 8px;
    position: relative;
    padding: 0;
}

.modal-comment {
    margin-bottom: 8px;
    position: relative;
    margin-bottom: 16px;
}

.input-wrap {
    position: relative;
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 34px;
    font-size: 16px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: #4D5AE5;
}

.modal-comment-text:focus {
    border-color: #4D5AE5;
}

.modal-input:focus+.modal-icon {
    fill: #4D5AE5;
}

.modal-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input::placeholder,
.modal-comment-text::placeholder {
    font-size: 12px;
    line-height: 1.17px;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    padding-top: 8px;

}

.input-label {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--text-footer-sub);
    margin-bottom: 4px;
}

.modal-comment {
    padding: 0;
}

.modal-comment-text {
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    resize: none;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ------------checkbox------------ */

.modal-checkbox {
    margin-bottom: 24px;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0;
}

.modal-check {
    display: flex;
    align-items: center;
    position: absolute;
}

.check-text-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--text-footer-sub);
}

.check-text-label span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    margin-right: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:checked+.check-text-label span {
    background-color: var(--second-btn-bg-color);
    border: none;
    fill: var(--first-btn-bg-color);
}

.modal-check:focus + .check-text-label span {
    border-color: var(--second-btn-bg-color);
}

.check-icon {
    border: none;
}

.modal-checkbox-link {
    margin-left: 4px;
    color: var(--first-btn-color);
}

/* ---------------Button----------------- */

.modal-send-btn {
    display: block;
    margin: auto;
    min-width: 169px;
    height: 56px;
    background: #4D5AE5;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 16px 32px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.modal-send-btn:hover,
.modal-send-btn:focus {
    background-color: #404BBF;
    color: #FFFFFF;
}

@media screen and (max-width: 427px) {
    .modal {
        width: 90%;
    }
}

@media screen and (max-width: 767px) {
    .modal {
        overflow-y: scroll;
    }
}

@media screen and (min-width: 768px) {
    .modal {
        padding: 72px 25px 24px 23px;
        min-width: 408px;
        min-height: 584px;
    }
}

@media screen and (min-width: 1158px) {
    .modal {
        padding: 72px 24px 24px 24px;
    }

    .modal-input {
        padding-left: 38px;
    }
}